html, body {
    margin: 0;
    padding: 0;
    background-color: #1C1923;
    font-family: "Josefin Sans", sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 0.7em;
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
}

#fromandto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#textbox {
  background-color: rgb(68, 65, 91);
  border: none;
  border-radius: 5px;
  color: rgb(150, 151, 146);
  width: 270px;
  padding: 10px 15px;
  box-sizing: border-box;
  height: 80px;
  resize: none;
  font-size: 1.2em;
}

input[type=text] {
  background-color: rgb(68, 65, 91);
  border: none;
  border-radius: 5px;
  text-align: center;
  color: rgb(150, 151, 146);
  width: 115px;
  padding: 5px 15px;
  box-sizing: border-box;
  height: 30px;
  font-size: 1.2em;
}

#publish-btn {
  color: #1C1923;
  background-color: rgb(0, 172, 247);
  border: none;
  border-radius: 5px;
  padding: 15px 0px;
  box-sizing: border-box;
  width: 270px;
  margin: 15px;
  font-weight: bold;
  font-size: 1.5em;
}

#freddie-img{
  width: 150px;  
}

#endorsements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedback-database {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; 
  word-break: break-all

}

ul li {
  font-size: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 1px;
  width: 270px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#end-title {
  color: white;
  font-size: 1.2em;
  
}